@charset "UTF-8";

:root {
  /* Primary (Green) */
  --primary-100: #e1eee4;
  --primary-300: #84d3a4;
  --primary-500: #4caf50;
  --primary-700: #3d6d4d;
  --primary-900: #2a4b35;

  /* Secondary (Gray) */
  --secondary-100: #e0e0e0;
  --secondary-300: #b8b8b8;
  --secondary-500: #808080;
  --secondary-700: #494949;
  --secondary-900: #2e2e2e;

  /* Tertiary (Blue) */
  --tertiary-100: #cce4f9;
  --tertiary-300: #64b5f6;
  --tertiary-500: #2196f3;
  --tertiary-700: #1565c0;
  --tertiary-900: #0d47a1;
}

body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: var(--secondary-700);
  padding: 0;

  height: 100%;
  font-weight: 300;
}

button, input:focus {
  outline: none;
}



.w-25 {
  width: 25%;
}
.w-33 {
  width: 33.333333%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* text styling */
.text-center {
  text-align: center;
}

.text-primary-700 {
  color: var(--primary-700);
}
.text-primary-500 {
  color: var(--primary-500);
}

.text-tertiary-500 {
  color: var(--tertiary-500);
}

.text-red {
  color: rgba(252, 165, 165, 1);
}

.text-secondary-900 {
  color: var(--secondary-900);
}

/* Different kinds of modificators for elements */
.max-w20 {
  max-width: 20em;
}
.max-w40 {
  max-width: 40em;
}
.max-w50 {
  max-width: 50em;
}



.bg-red {
  background-color: rgba(252, 165, 165, 1);
  overflow-wrap: break-word;
}

.bg-green {
  background-color: var(--primary-300);
}

.bg-green1 {
  background-color: var(--primary-100);
}





/* media screen sizings */
/* Small only */
@media screen and (max-width: 40em) {
  .hide-sx {
    display: none;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .hide-mda {
    display: none;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hide-md {
    display: none;
  }
}

@media screen and (min-width: 64em) {
  .hide-md {
    display: none;
  }
}

/* table styling */
thead tr {
  background-color: var(--primary-300);
  color: #000;
  text-align: left;
}

th,
td {
  padding: 0.5rem;
}

tbody tr:nth-of-type(even) {
  background-color: var(--primary-300);
}
tbody tr:nth-of-type(odd) {
  background-color: var(--primary-100);
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-500);
}

/* structure / layouting */
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}

.container-small {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container-col2 {
  display: flex;
  flex-direction: column;
}

.container-col {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 3rem;
}



.container-stretch {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 3rem;
}

.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
}

.wrapper .invalid {
  grid-column: 1 / 3;
  margin: 0;
  text-align: right;
}

.gap-3 {
  gap: 0.75rem;
}

/* reusable modificators */
.flex-grow {
  flex: 1;
}

.small {
  font-size: small;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.nobreak {
  white-space: nowrap;
}

.italic {
  font-style: italic;
}

.block {
  display: block;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.font-size-small {
  font-size: 1.05rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.color-secondary-500 {
  color: var(--secondary-500);
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

/* custom elements */
.divider {
  height: 1px;
  margin: 6px 0;
  background: var(--primary-700);
}

.image-org {
  height: 10rem;
  width: max-content;
  margin: 0 1rem;
}

.image-org-sx {
  display: flex;
  max-height: 2rem;
  max-width: 2rem;
  width: auto;
  margin: 0 0.5rem;
  border: 2px solid var(--primary-100);
}

.accessible-btn {
  padding: unset;
  color: unset;
  background-color: unset;
  border: unset;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-all {
  word-break: break-all;
}

.inline {
  display: inline;
}
