.hidden {
    display: none;
}

/* Drop Down Menu Template*/
.dropdown {
    position: relative;
    display: inline-block;
}

.drop-button {
    margin: 0;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content button {
    color: black;
    border: none;
    background-color: var(--secondary-100);
    width: 100%;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    display: block;
    transition: background 0.5s;
    border-radius: 0;
    text-align: left;
}

.dropdown-content button:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-content button:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content button:hover {
    background: var(--primary-400);
}

.dropdown-content button:active {
    background: var(--primary-900);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop-button {
    background-color: #3e8e41;
}

.drop-button svg {
    transition: transform 0.5s ease-in-out;
}

.dropdown:hover .drop-button svg {
    transform: rotate(180deg);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: var(--primary-100);
    color: black;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.25rem;
    position: absolute;
    top: 110%;
    z-index: 3;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
