table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
    border: 1px solid #fff;
    overflow: hidden;
}

thead tr {
    background-color: var(--primary-500);
    color: #fff;
    text-align: left;
}

th,
td {
    padding: 0.5rem;
    border: 1px solid #fff;
}

tbody tr:nth-of-type(even) {
    background-color: var(--primary-300);
}
tbody tr:nth-of-type(odd) {
    background-color: var(--primary-100);
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-500);
}

td {
    border-left: none;
    border-top: none;
}

th {
    border-left: none;
    border-top: none;
}

/* Remove the right border of the last column */
td:last-child,
th:last-child {
    border-right: none;
}

/* Remove the bottom border of the last row */
tr:last-child td {
    border-bottom: none;
}