{
    admin off
    auto_https off
    log {
        output stdout
        format json {
            time_key time
            time_format iso8601
        }
    }
}

:9085

root * /var/www/html
try_files {path} /
file_server
