{
    admin off
    auto_https off
}

:9085

# Support for SPA.
try_files {path} {file} /index.html

file_server {
    #https://misterorion.com/caddy-server-brotli/
	#precompressed br gzip zstd
	root /var/www/html
}
