[submodule "auth"]
	path = auth
	url = git@github.com:flatfeestack/auth.git
[submodule "analysis-engine"]
	path = analysis-engine
	url = git@github.com:flatfeestack/analysis-engine.git
	branch = master
[submodule "frontend-new"]
	path = frontend-new
	url = git@github.com:flatfeestack/frontend-new.git
