env
.env
env*.tar.gz
flatfeestack-env-*.tar.gz
.db_pw.txt

.idea
.vscode
.zed
.lapce

node_modules/
.pnpm/
.pnpm-store/
npm-debug.log
pnpm-debug.log
dist/
build/
package-lock.json
.DS_Store

.svelte-kit/
vite.config.ts.timestamp*

.db
.ganache

/payout-nodejs
/search-proj
/landing-page
.repos
.stripe
stripe/config.toml

/monitoring/.grafana_data
/monitoring/.prometheus_data

docker-compose.override.yml
tmp/
**/.dockerignore
coverage/
logs/
*.log
