[submodule "fastauth"]
	path = fastauth
	url = git@github.com:flatfeestack/fastauth.git
	branch = master
[submodule "analysis-engine"]
	path = analysis-engine
	url = git@github.com:flatfeestack/analysis-engine.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = git@github.com:flatfeestack/frontend.git
	branch = master
[submodule "backend"]
	path = api
	url = git@github.com:flatfeestack/backend.git
	branch = master
[submodule "payout"]
	path = payout
	url = git@github.com:flatfeestack/payout.git
	branch = main
[submodule "search-proj"]
	path = search-proj
	url = git@github.com:flatfeestack/search-proj.git
	branch = master
