env
.env
flatfeestack-env-*.tar.gz
.idea
.db
.ganache
.repos
env*.tar.gz
/payout-nodejs
/search-proj
/landing-page
.db_pw.txt
stripe/config.toml
/monitoring/.grafana_data
/monitoring/.prometheus_data
