[submodule "fastauth"]
	path = fastauth
	url = git@github.com:flatfeestack/fastauth.git
	branch = master
[submodule "analysis-engine"]
	path = analysis-engine
	url = git@github.com:flatfeestack/analysis-engine.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = git@github.com:flatfeestack/frontend.git
	branch = master
[submodule "api"]
	path = api
	url = git@github.com:flatfeestack/api.git
