:80
encode gzip

route /auth/* {
    uri strip_prefix /auth
    reverse_proxy auth:9081
}

route /backend/* {
    reverse_proxy backend:9082
}

route /analysis/* {
    uri strip_prefix /analysis
    reverse_proxy analysis-engine:9083
}

route {
    reverse_proxy frontend:9085
}
