:80
encode gzip

route /auth/* {
    uri strip_prefix /auth
    reverse_proxy auth:8080
}

route /api/* {
    reverse_proxy api:8080
}

route /analysis/* {
    uri strip_prefix /analysis
    reverse_proxy analysis-engine:8080
}

route {
    reverse_proxy frontend:8081
}
