{
    admin off
    log {
        format console
        level INFO   # or DEBUG for more detailed logs
        output stdout
    }
}
localhost:8080 {
  tls internal
  handle_path /auth/* {
    reverse_proxy auth:9081 {
      header_up Host {upstream_hostport}
      header_up X-Real-IP {remote}
    }
  }

  handle_path /backend/* {
    reverse_proxy backend:9082 {
      header_up Host {upstream_hostport}
      header_up X-Real-IP {remote}
    }
  }

  handle_path /analyzer/* {
    reverse_proxy analyzer:9083 {
      header_up Host {upstream_hostport}
      header_up X-Real-IP {remote}
    }
  }

  handle_path /payout/* {
      reverse_proxy payout:9084 {
        header_up Host {upstream_hostport}
        header_up X-Real-IP {remote}
      }
    }

  handle /hooks/* {
    reverse_proxy backend:9082 {
      header_up Host {upstream_hostport}
      header_up X-Real-IP {remote}
    }
  }

  handle_path /forum/* {
    reverse_proxy forum:9086 {
      header_up Host {upstream_hostport}
      header_up X-Real-IP {remote}
    }
  }

  handle {
    reverse_proxy frontend:3000 {
      header_up Host {upstream_hostport}
      header_up X-Real-IP {remote}
    }
  }
}
