## General settings
PORT=9084
ENV=local
HS256=test-seed

#Set admins by email
ADMINS=guil@flatfeestack.io;tom@flatfeestack.io;tom.1@bocek.ch;tom.2@bocek.ch;tom.3@bocek.ch;tom.4@bocek.ch;tom.5@bocek.ch;tom.6@bocek.ch

#DB settings
DB_PATH=postgresql://postgres:password@db:5432/flatfeestack?sslmode=disable
DB_DRIVER=postgres
DB_SCRIPTS=init.sql

#Subsystems
ANALYSIS_URL=http://analysis-engine:9083
PAYOUT_URL=http://payout:9084

#Email settings
EMAIL_FROM=info@flatfeestack.io
EMAIL_FROM_NAME=Flatfeestack
EMAIL_TOKEN=%%EMAIL_TOKEN%%
EMAIL_URL=https://nope.ch/mailer
EMAIL_PREFIX=https://test.flatfeestack.io

#Payment
WS_BASE_URL=wss://test.flatfeestack.io
STRIPE_SECRET_API=%%STRIPE_SECRET_API%%
STRIPE_PUBLIC_API=%%STRIPE_PUBLIC_API%%
NOWPAYMENTS_TOKEN=%%NOWPAYMENTS_TOKEN%%
NOWPAYMENTS_IPN_KEY=%%NOWPAYMENTS_IPN_KEY%%
NOWPAYMENTS_API_URL=https://api.nowpayments.io/v1/
NOWPAYMENTS_IPN_CALLBACK_URL=https://test.flatfeestack.io/hooks/nowpayments