## General settings
PORT=9082
ENV=local
HS256=test-seed

#Set admins by email
ADMINS=jonas@flatfeestack.io

# Own API
BACKEND_USERNAME=flatfeestack
BACKEND_PASSWORD=backend

# Analyzer
ANALYZER_URL=http://analyzer:9083
ANALYZER_USERNAME=flatfeestack
ANALYZER_PASSWORD=analyzer

# Payout
PAYOUT_URL=http://payout:9084
PAYOUT_USERNAME=flatfeestack
PAYOUT_PASSWORD=payout

#DB settings
DB_PATH=postgresql://postgres:password@db:5432/flatfeestack?sslmode=disable
DB_DRIVER=postgres
DB_SCRIPTS=init.sql

#Email settings
EMAIL_FROM=info@flatfeestack.io
EMAIL_FROM_NAME=Flatfeestack
EMAIL_TOKEN=%%EMAIL_TOKEN%%
EMAIL_URL=https://api.sendgrid.com/v3/mail/send
EMAIL_PREFIX=http://localhost:8080

#Stripe payment
STRIPE_SECRET_API=%%STRIPE_SECRET_API%%
STRIPE_PUBLIC_API=%%STRIPE_PUBLIC_API%%
STRIPE_SECRET_WEBHOOK=%%STRIPE_SECRET_WEBHOOK%%

#NowPayments
NOWPAYMENTS_TOKEN=%%NOWPAYMENTS_TOKEN%%
NOWPAYMENTS_IPN_KEY=%%NOWPAYMENTS_IPN_KEY%%
NOWPAYMENTS_API_URL=https://api.nowpayments.io/v1/
NOWPAYMENTS_IPN_CALLBACK_URL=https://test.flatfeestack.io/hooks/nowpayments
