## General settings
PORT=9081
ENV=local
DEV=test-seed
LOG_LEVEL=info

#Set admins by email
ADMINS=tom@flatfeestack.io;roman@cvijano.ch;yannick.staedeli@ost.ch;mino.petrizzo@ost.ch

#DB settings
DB_PATH=postgresql://postgres:password@db:5432/flatfeestack?sslmode=disable
DB_DRIVER=postgres
DB_SCRIPTS=init.sql
#This inserts dummy users
NO_AUTH_USERS=tom@flatfeestack.io;roman@cvijano.ch;yannick.staedeli@ost.ch;mino.pettrizo@ost.ch

#Email settings
EMAIL_FROM=info@flatfeestack.io
EMAIL_FROM_NAME=Flatfeestack
EMAIL_URL=https://api.sendgrid.com/v3/mail/send
EMAIL_TOKEN=%%EMAIL_TOKEN%%
EMAIL_PREFIX=http://localhost:8080
