apiVersion: 1

datasources:
  - name: Postgres
    type: postgres
    url: {{ database.url }}
    user: {{ database.user }}
    uid: 0YSE7REVz
    secureJsonData:
      password: '{{ database.password }}'
    jsonData:
      database: flatfeestack
      sslmode: 'require'
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false