global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: database
    metrics_path: /metrics
    static_configs:
      - targets: ['postgres-exporter:9187']
{% for target in prometheus_targets %}
  - job_name: {{ target.name }}
{% if target.metrics_path is defined %}
    metrics_path: {{ target.metrics_path }}
{% endif %}
    static_configs:
      - targets: {{ target.targets | to_json | indent(8) }}
{% if target.labels is defined %}
        labels:
{% for label, value in target.labels.items() %}
          {{ label }}: '{{ value }}'
{% endfor %}
{% endif %}
{% endfor %}
