

header {
    position: relative;
    height: 7em;
    background-image: linear-gradient(#ff9d2f, #ff6126);
}




header svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    z-index: 0;
}

.badge {
    width: 100%;
}

.badge a, text, tspan {
    font-family: "monospace";
    font-size: 5pt;
}

@media (max-width: 699px) {
    .svg--lg {
        display: none;
    }
}

@media (min-width: 700px) {
    .svg--sm {
        display: none;
    }
}

nav {
    padding:1em;
}

.left {
    float:left;
    height: auto;
    line-height: 100%;
}

.left >  img {
    width: auto;
    height: 2em;
}

.right {
    display: block;
    width: 100%;
    text-align: right;
}



.parallax {
    background-image: url("code-dark2.jpg");
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.parallax img {
    width: 90%;
}

h1 {
    font-size:3em;
    margin-top: 1em;
    font-weight: normal;
    margin-bottom: 0em;
    text-shadow: 1px 1px 2px #000;
}

/* makes images round, for faces */
.img-round img {
    border-radius: 50%;
    object-fit: scale-down;
    max-height: 50%;
    width: 10em;
    padding: 1em;
    align-items: center;
}

.grid-img {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}

/* image is as high as the text, fits into text */
img[src*="#text"] {
    height: 1em;
}


/*
  Definitions for icons - powered by Feather (https://feathericons.com/).
*/
span[class^='icon-'] {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: -0.125em;
    background-size: contain;
    margin: 0 calc(var(--universal-margin) / 4);
}

span.icon-heart {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-heart'%3E%3Cpath d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z' fill='%23fff' stroke='%23fff'/%3E%3C/svg%3E");
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5em;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #308732;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #308732;
    cursor: pointer;
}