## General settings
PORT=9086
ENV=local
HS256=test-seed

#Set admins by email
ADMINS=jonas@flatfeestack.io

#DB settings
DB_PATH=postgresql://postgres:password@db:5432/flatfeestack?sslmode=disable
DB_DRIVER=postgres
DB_SCRIPTS=init.sql

BACKEND_URL=http://backend:9082/
BACKEND_USERNAME=flatfeestack
BACKEND_PASSWORD=backend