{
    admin off
    auto_https off
    log {
        format console
    }
}

#https://caddyserver.com/docs/caddyfile/patterns#single-page-apps-spas
:3000 {
    root * /var/www/html
    try_files {path} /index.html
    file_server {
        #https://caddyserver.com/docs/caddyfile/directives/file_server#precompressed
 	    precompressed br zstd gzip
    }
}