@charset "UTF-8";

:root {
  --primary-100: #ecf3ef;
  --primary-300: #a9d4ba;
  --primary-400: #84d3a4;
  --primary-500: #4caf50;
  --primary-700: #499768;
  --primary-900: #285338;

  --secondary-100: #f0f0f0;
  --secondary-200: #dddddd;
  --secondary-300: #b8b8b8;
  --secondary-500: #808080;
  --secondary-700: #494949;
  --secondary-900: #000000;

  --tertiary-100: #cae2c8;
  --tertiary-300: #89bd84;
  --tertiary-400: #72b06c;
  --tertiary-500: #5ca353;
  --tertiary-700: #488340;
  --tertiary-900: #2e5328;
}

body,
html {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  margin: 0;
  font-size: 1.2rem;
  color: var(--secondary-700);
  padding: 0;
  background: #ffffff;
  height: 100%;
  font-weight: 300;
}

#app {
  height: 100%;
}

h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

/* spacing stylings */
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-100 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-300 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-0 {
  padding-top: 0;
}

.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.pl-5 {
  padding-left: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-300 {
  padding: 3rem;
}
.p-rl-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 0.5rem;
}
.ml-5 {
  margin-left: 0.5rem;
}
.ml-0 {
  margin-left: 0;
}
.m-0 {
  margin: 0;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-60 {
  margin-top: 6rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-20 {
  margin-bottom: 2rem;
}

.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-4 {
  margin: 1rem;
}

.w-25 {
  width: 25%;
}
.w-33 {
  width: 33.333333%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* text styling */
.text-center {
  text-align: center;
}

.text-primary-700 {
  color: var(--primary-700);
}
.text-primary-500 {
  color: var(--primary-500);
}

.text-tertiary-500 {
  color: var(--tertiary-500);
}

.text-red {
  color: rgba(252, 165, 165, 1);
}

.text-secondary-900 {
  color: var(--secondary-900);
}

/* Different kinds of modificators for elements */
.max-w20 {
  max-width: 20em;
}
.max-w40 {
  max-width: 40em;
}
.max-w50 {
  max-width: 50em;
}

.rounded {
  border-radius: 4px;
}

.border-primary-500 {
  border: var(--primary-500) 1px solid;
}

.border-primary-700 {
  border: var(--primary-700) 1px solid;
}

.border-primary-900 {
  border: var(--primary-900) 1px solid;
}

.bg-red {
  background-color: rgba(252, 165, 165, 1);
}

.bg-green {
  background-color: var(--primary-300);
}

.bg-green1 {
  background-color: var(--primary-100);
}

/* button styling */
button {
  border-radius: 5px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.05rem;
  color: #fff;
}

.button1 {
  border: 1px solid var(--primary-500);
  background: var(--primary-500);
  transition: background 0.5s;
}
.button1:hover {
  background: var(--primary-400);
}
.button1:active {
  background: var(--primary-900);
}
.button1:disabled {
  background: var(--secondary-300);
  border: 1px solid var(--secondary-100);
}

.button2 {
  border: 1px solid var(--primary-500);
  background: var(--primary-300);
  transition: background 0.5s;
}
.button2:hover {
  background: var(--primary-500);
}
.button2:active {
  background: var(--primary-900);
}

.button3 {
  border: 1px solid var(--secondary-300);
  background: #fff;
  transition: background 0.5s;
  color: var(--secondary-700);
}
.button3:hover {
  background: var(--secondary-300);
}
.button3:active {
  background: var(--secondary-500);
}

.button4 {
  border: 1px solid var(--tertiary-500);
  background: var(--tertiary-500);
  transition: background 0.5s;
}
.button4:hover {
  background: var(--tertiary-400);
}
.button4:active {
  background: var(--secondary-900);
}
.button4:disabled {
  background: var(--secondary-300);
  border: 1px solid var(--secondary-100);
}

/* input fields */
input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
select,
textarea {
  border: 1px solid var(--primary-700);
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
}

textarea {
  font-size: 13px;
}

/* media screen sizings */
/* Small only */
@media screen and (max-width: 40em) {
  .hide-sx {
    display: none;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .hide-mda {
    display: none;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hide-md {
    display: none;
  }
}

@media screen and (min-width: 64em) {
  .hide-md {
    display: none;
  }
}

/* table styling */
thead tr {
  background-color: var(--primary-300);
  color: #000;
  text-align: left;
}

th,
td {
  padding: 0.5rem;
}

tbody tr:nth-of-type(even) {
  background-color: var(--primary-300);
}
tbody tr:nth-of-type(odd) {
  background-color: var(--primary-100);
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-500);
}

/* structure / layouting */
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}

.container-small {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container-col2 {
  display: flex;
  flex-direction: column;
}

.container-col {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 3rem;
}

.box-container {
  max-width: 20rem;
  background-color: var(--primary-100);
}

.container-stretch {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 3rem;
}

.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-2 {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
}

.wrapper .invalid {
  grid-column: 1 / 3;
  margin: 0;
  text-align: right;
}

.gap-3 {
  gap: 0.75rem;
}

/* reusable modificators */
.flex-grow {
  flex: 1;
}

.small {
  font-size: small;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.nobreak {
  white-space: nowrap;
}

.italic {
  font-style: italic;
}

.block {
  display: block;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.font-size-small {
  font-size: 1.05rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.color-secondary-500 {
  color: var(--secondary-500);
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

/* custom elements */
.divider {
  height: 1px;
  margin: 6px 0;
  background: var(--primary-700);
}

.image-org {
  height: 10rem;
  width: max-content;
  margin: 0 1rem;
}

.image-org-sx {
  display: flex;
  max-height: 2rem;
  max-width: 2rem;
  width: auto;
  margin: 0 0.5rem;
  border: 2px solid var(--primary-100);
}

.accessible-btn {
  padding: unset;
  color: unset;
  background-color: unset;
  border: unset;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-all {
  word-break: break-all;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

/* Drop Down Menu Template*/
.dropdown {
  position: relative;
  display: inline-block;
}

.drop-button {
  margin: 0;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content button {
  color: black;
  border: none;
  background-color: var(--secondary-100);
  width: 100%;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  display: block;
  transition: background 0.5s;
  border-radius: 0;
  text-align: left;
}

.dropdown-content button:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-content button:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content button:hover {
  background: var(--primary-400);
}

.dropdown-content button:active {
  background: var(--primary-900);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-button {
  background-color: #3e8e41;
}

.drop-button svg {
  transition: transform 0.5s ease-in-out;
}

.dropdown:hover .drop-button svg {
  transform: rotate(180deg);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: var(--tertiary-100);
  color: black;
  text-align: center;
  border-radius: 0.5em;
  padding: 0.25rem;
  position: absolute;
  top: 110%;
  z-index: 1;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 135%;
  left: 50%;
  margin-left: -60px;
  border-width: 5px;
  border-style: solid;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
